{% extends 'layouts/base.html' %}
{% block title %}New Book {% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data" style=" justify-content: center;">
    {% csrf_token %}

    <div class="form-group">
        <label for="id_title">Title</label>
        {{ form.title }}
    </div>
    
    <div class="form-group">
        <label for="id_author">Author</label>
        {{ form.author }}
    </div>
    <div class="form-group">
        <label for="id_total">Image</label>
        {{ form.image}}
    </div>
    <div class="form-group" style="display: inline-block;">
        <label for="id_total">Overview</label>
        {{ form.overview}}
    </div>
    
    <div class="form-group" style="display: inline-block;">
        <label for="id_total">Total</label>
        {{ form.total }}
    </div>

    <div class="form-group" style="display: inline-block;">
        <label for="id_available">Available</label>
        {{ form.available }}
    </div>

    <div class="form-group">
    <input type="submit" value="Save"  class="button" style="height: auto;  ">
    </div>
</form>
<a href="{{ book.show.url }}" class="button" style="margin: 10px;">Cancel</a>
{% endblock %}