{% extends 'layouts/base.html' %}
{% block title %}Books{% endblock %}

{% block content %}

{% for book in books%}
<div class="card"  >
    <img src="{{ book.image_url }}"  alt="image">
    <div >
      <h3>Title:     {{book.title}}</h3>
      <h4>Author: {{ book.author }}</h4>
      <!-- <h4>Available: {{ book.available }}</h4>
      <h4>Total Copies:  {{ book.total }} </h4> -->
        <a href="{{  book.show_url }}" class="button" style="padding: 5px;margin: 5px;">Show</a>
        <a href="{{ book.edit_url }}" class="button" style="padding: 5px;margin: 5px;">Edit</a>

        <a href="{{ book.delete_url }}" class="button" style="padding: 5px;margin: 5px;">Delete</a>
    </div>
  </div>


{% endfor %}

{% endblock %}