{% extends 'layouts/base.html' %}
{% block title%}Book Library{% endblock %}

{% block content %}
<form method="get" >
    <div class="form-group">
    {{ form.as_p }}
    </div>
    <div class="form-group">
    <button type="submit" class="button" style="height: auto;">Search</button>
    </div>
</form>
<div style="text-align: center;">
{% if student %}
    <h2>Student Details:</h2>
    <h4>ID: {{ student.id }}</h4>
    <h4>Name: {{ student.name }}</h4>
    <h4>Email: {{ student.email }}</h4>
    <h4>Phone: {{ student.phone }}</h4>
    <h4>Track: {{ student.Track }}</h4>
    <h4>Borrowed Books: {% for book in student.borrowed_books.all %}
        <ul>
          <li>{{ book }}</li>
        </ul>
        {% endfor %}</h4>


{% elif student is None and request.GET %}
    <p>No student found with the given ID.</p>
{% endif %}
</div>
{% endblock %}