{% extends 'layouts/base.html' %}
{% block title%}About US{% endblock %}

{% block content %}
<h3 style="color: #32348f; text-align: center; margin: 30px;">We Develop Web Pages Using Trendy Technoloies Such as: </h3>
<ul style="list-style: None;
text-align: center;">
    <li class="button">HTML</li>
    <li class="button">CSS</li>
    <li class="button">JS</li>
    <li class="button">Postgresql</li>
    <li class="button">Python</li>
    <li class="button">Django</li>
</ul>

<h2 style="color: #32348f; text-align: center; margin: 30px; ">Members:</h2>
<ul style="list-style: None; margin-left: 480px;">

    <li class="button" style="display: block; margin: 30px; width: 270px; font-size: larger;">Rashad Ahmed</li>
    <li class="button" style="display: block; margin: 30px; width: 270px; font-size: larger;">Amr Yasser</li>
    <li class="button" style="display: block; margin: 30px; width: 270px; font-size: larger;">Omar Mohamed</li>
    
</ul>
{% endblock %}