{% extends 'layouts/base.html' %}
{% block title%}Contact US{% endblock %}

{% block content %}
<h2 style="text-align: center;">We Will Be Glad To Get In Touch</h2>
<ul style="list-style: None; margin: 80px 430px;">
    <li >
        <h2 class="button" style="margin: 20px; width: 300px;">Rashad Ahmed</h2>
        <a href="https://www.linkedin.com/in/rashad-ahmed-531205251/" > 
            <i class="fab fa-linkedin" style="font-size: 50px;"></i> </a>
    </li>
    <li>
        <h2 class="button" style="margin: 20px; width: 300px;">Amr Yasser</h2>
        <a href="" ><i class="fab fa-linkedin" style="font-size: 50px;"></i></a>
    </li>
    <li>
        <h2 class="button" style="margin: 20px; width: 300px;">Omar Mohamed</h2>
        <a href="" ><i class="fab fa-linkedin" style="font-size: 50px;"></i></a>
    </li>
</ul>
{% endblock %}